<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
</head>
<body>
<h2>Lesson {{ lesson.title }}</h2>
<a href="/lesson/">Back to all lessons</a>
<h3>{{ lesson.body }}</h3>
<form method="post" action="/lesson/{{ lesson.id }}/">
    {% csrf_token %}
    {% for question in questions %}
        <p>{{ question.question }}</p>
        <label for="question_{{ question.id }}">
        <select id="question_{{ question.id }}" name="question_{{ question.id }}">
            {% for answer in question.answers %}
                <option value="{{ answer }}">{{ answer }}</option>
            {% endfor %}
        </select>
            <br>
        </label>
    {% endfor %}
    <input type="submit" value="Check">
</form>
</body>
</html>