<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile {{ user.username }}</title>
</head>
<body>
<h1>Your total score: {{ user_scores.score }}</h1>
<a href="/lesson">To lessons</a>
<a href="/words">To words</a>
<br>
<a href="/leaderboard/">To leaderboard</a>
<br>
    <form method="post" action="/user/">
        {% csrf_token %}
        {% if error_message %}
        <p style="color: crimson"> {{ error_message }}</p>
        <br>
        {% endif %}
        <p>Username: {{ user.username }}</p>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" value="{{ user.email }}" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
        <br>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" placeholder="First Name" value="{{ user.first_name }}" required>
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name" value="{{ user.last_name }}" required>
        <br>
        <input type="submit" value="Update">
    </form>
    <form method="post" action="/logout/">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</body>
</html>