<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
</head>
<body>
<h1>My words</h1>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <p style="color: crimson">{{ message }}</p>
        {% elif message.tags == 'success' %}
            <p style="color: forestgreen">{{ message }}</p>
        {% endif %}
    {% endfor %}
{% endif %}
<a href="/lesson">To lessons</a>
<a href="/user">Profile</a>
<form action="/words/" method="post">
    {% csrf_token %}
    {{ form_template }}
    <input type="submit" value="Add">
</form>
<br>
<a href="/words/random/">Start learning words</a>
<br>
    <table>
    <tbody>
        {% for word in all_words %}
        <tr>
            <td>{{ word.word }}</td>
            <td>{{ word.translation }}</td>
            <td>{{ word.transcription }}</td>
            <td>{{ word.transliteration }}</td>
            <td>
                <form action="{% url 'word_delete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="word" id="word" value="{{ word.word }}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>